/* Error de login */

.errorlogin {
    color: red;
}


/* Estilo Javascript */

.error {
    color: red;
    font-weight: bold;
}

input.error {
    border: 2px solid red;
}


/* Estilo para el contenedor del formulario */

.container {
    margin: 0 auto;
    border-radius: 5px;
    text-align: left;
}


/* Estilo para el formulario dentro del contenedor */

form {
    display: flex;
    flex-direction: column;
}


/* Estilo para las etiquetas (labels) del formulario */

label {
    text-align: left;
}


/* Estilo para los campos de entrada de texto */

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
}


/* Estilo para el botón de inicio de sesión */

input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}


/* Estilos personalizados para el recuadro del formulario */

.custom-form-container {
    border: 2px solid #333;
    /* Borde de 2 píxeles de grosor de color gris oscuro */
    border-radius: 10px;
    /* Bordes redondeados */
    padding: 40px;
    /* Centrar el recuadro horizontalmente */
    background-color: white;
}

.column-2 {
    width: 50%;
}

/* Estilo para pantallas más pequeñas (por ejemplo, dispositivos móviles) */

@media (max-width: 768px) {
    .row {
        flex-direction: column-reverse;
        /* Cambiar dirección de la fila */
    }
    .col-md-6 {
        width: 100%;
        /* Ancho completo para ocupar toda la pantalla */
    }
    .custom-form-container {
        padding: 20px;
        /* Reducir el relleno en pantallas pequeñas */
    }
}

#pwderror {
    font-size: 14px;
    text-align: center;
}


/* Estilos del background (plantilla recogida de Internet) */

.bg {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: 300% 300%;
    background-image: linear-gradient(-45deg, yellow 0%, yellow 25%, yellow 51%, #ff357f 100%);
    -webkit-animation: AnimateBG 20s ease infinite;
    animation: AnimateBG 20s ease infinite;
}

@-webkit-keyframes AnimateBG {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes AnimateBG {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }120% {
        background-position: 0% 50%;
    }
}