/* Error de login */

.errorlogin {
    color: red;
}


/* Estilo Javascript */

.error {
    color: red;
    font-weight: bold;
}

input.error {
    border: 2px solid red;
}


/* Estilo para el botón de inicio de sesión */

input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}


/* Consulta de Error en la contraseña */

#pwderror {
    font-size: 14px;
    text-align: center;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 12%;
}


/* REGLAS POR DEFECTO */

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 15px;
    line-height: 1.7;
    color: #c4c3ca;
    overflow-x: hidden;
    background: linear-gradient(-45deg, #005FAB, #017D49, #16253C);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}


/*---------------FONDO-CAMBIO-DE-COLOR-----------------*/

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

* {
    box-sizing: border-box;
    /* Que el padding no cuente como ancho */
}

.row:after {
    content: "";
    display: table;
    clear: both;
    /* Si tenemos una fila, que los elementos de abajo empiecen siempre en la misma línea */
}


/* REGLAS DE FILAS / COLUMNAS */

.column-1 {
    width: 100%;
    float: left;
    /* Columna del 100% */
}

.column-2 {
    width: 50%;
    float: left;
    /* Columna del 50% */
}

.column-3 {
    width: 33.33%;
    float: left;
    /* Columna del 33.33% */
}

.column-4 {
    width: 25%;
    float: left;
    /* Columna del 25% */
}

.column-5 {
    width: 20%;
    float: left;
    /* Columna del 20% */
}

img {
    width: 30vh;
    justify-content: center;
    display: flex;
    align-items: center;
    transition: width 0.5s;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ctr {
    display: flex;
    align-items: center;
    justify-content: center;
}

.custom-form-container {
    border: 2px solid #333;
    /* Borde de 2 píxeles de grosor de color gris oscuro */
    border-radius: 10px;
    /* Bordes redondeados */
    padding: 2%;
    /* Centrar el recuadro horizontalmente */
    background-color: white;
    width: 65%;
    height: 60%;
}

.responsive-form-center {
    margin-top: 0%;
}

@media (max-width: 860px) {
    .column-2 {
        width: 100%;
    }
    .center {
        margin-left: 10%;
        margin-right: 10%;
    }
    .custom-form-container {
        width: auto;
    }
    .responsive-img-center {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 12%;
    }
    img {
        width: 80%;
    }
}

.azul {
    color: blue;
}


/* Clases de mostrar.php*/

.center-mostrar {
    padding: 5%;
}

.container {
    width: 100%;
    margin-left: 10%;
}